body{
      background-image: url("/image/space.png");
      background-attachment: fixed;
    }
.box1{
        border: 4px double #646464 ;
        width: 820px;
        background-color : green;
}
.box2{
        border: 4px double #646464 ;
        background-color : green;
}
.box3{
        border: 4px double #646464 ;
        width: 820px;
        background-image : url("/image/grass.png");
}


::-webkit-scrollbar {
    height: 15px;
    width: 15px;
    background: url("/image/scroll/scroll_background.png");
}

::-webkit-scrollbar-thumb {
    background: #a6a6a6;
    border: 1px solid	#000000;
}

::-webkit-scrollbar-corner {
    background: url("/image/scroll/scroll_corner.png");
}

::-webkit-scrollbar-button:vertical:decrement{ 
    background: url("/image/scroll/scroll_arrow_up.png");
    border: 1px solid	#000000;
    height: 15px;
    width: 15px;
}
::-webkit-scrollbar-button:vertical:increment{ 
    background: url("/image/scroll/scroll_arrow_down.png");
    border: 1px solid	#000000;
    height: 15px;
    width: 15px;
}
::-webkit-scrollbar-button:horizontal:decrement{ 
    background: url("/image/scroll/scroll_arrow_left.png");
    border: 1px solid	#000000;
    height: 15px;
    width: 15px;
}
::-webkit-scrollbar-button:horizontal:increment{ 
    background: url("/image/scroll/scroll_arrow_right.png");
    border: 1px solid	#000000;
    height: 15px;
    width: 15px;
}